<%- include('partials/header') %>

    <main class="main-tree">
        <!-- Section Héro -->
        <section class="hero2">
            <div class="hero-content">
                <img src="/img/LogoChenebg.png" alt="Logo Chêne" class="hero-logo">
                <h1 class="titre">Nos arbres</h1>
                <p class="paragraphe">
                    Explorez notre sélection d'arbres uniques et contribuez à un environnement plus vert tout en donnant
                    vie à vos projets durables.
                </p>
            </div>
        </section>

        <!-- Section des boutons pour les familles -->
        <section class="section-container">
            <h2>Choisissez une famille</h2>
            <div class="button-group" id="family-buttons">
                <!-- Les boutons seront générés dynamiquement par JavaScript -->
            </div>
        </section>

        <!-- Section des cartes des arbres -->
        <section class="trees">
            <h2>Nos Arbres Disponibles</h2>
            <div class="tree-cards" id="tree-cards">
                <!-- Les cartes des arbres seront générées dynamiquement par JavaScript -->
            </div>
        </section>
    </main>

    <%- include('partials/footer') %>