/* Orders Styles */
.main-order {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  background: linear-gradient(to right, #4ade80, #eab308, #ef4444);
}
.orders__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  gap: 1rem;
  background: var(--color-gray-light);
  padding: 2rem 2rem;
}

.orders__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-black);
  display: flex;
}

.orders__filters {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.orders__select {
  padding: 0.5rem;
  border: 1px solid var(--color-gray-light);
  border-radius: 0.375rem;
}

.orders__list {
  background: var(--color-gray-light);
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 85%;
  margin: 0 auto;
}

.order-card {
  padding: 1.5rem;
  border-bottom: 1px solid var(--color-gray-light);
}

.order-card:last-child {
  border-bottom: none;
}

.order-card__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.order-card__label {
  color: var(--color-gray);
  font-size: 0.875rem;
}

.order-card__value {
  font-weight: 500;
}

.order-card__status {
  display: inline-flex;
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #dbeafe;
  color: #1e40af;
}

.order-card__actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 4rem;
}

.order-card__button {
  padding: 0.5rem 1rem;
  background: none;
  font-weight: 500;
  cursor: pointer;
}

.order-card__button--cancel {
  border: solid 1px red;
  border-radius: 10px;
  color: #dc2626;
}
.order-card__button--cancel:hover {
  background: red;
  color: white;
}

.order-card__button--details {
  border: solid 1px green;
  border-radius: 10px;
  color: #3d7a3d;
}
.order-card__button--details:hover {
  background: green;
  color: white;
}

@media (max-width: 640px) {
  .orders__header {
    flex-direction: column;
    align-items: flex-start;
  }

  .orders__filters {
    flex-direction: column;
    width: 100%;
  }

  .orders__select {
    width: 100%;
  }

  .order-card__actions {
    flex-direction: column;
  }

  .order-card__button {
    width: 100%;
    text-align: center;
  }
}
