/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-family: sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button,
input,
textarea,
select {
  font: inherit;
  border: none;
  outline: none;
  background: none;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

legend {
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

address {
  font-style: normal;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
}

body {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #cccccc transparent; /* For Firefox */
}

/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888888;
}
